<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
  </head>
  <body>
    <div class="container">
      <div class="main">
        <h1>Blog Articles</h1>
        <a href="/articles/new" class="btn btn-success">New Article</a>
        <% context.forEach(article => { %>
        <div class="card mt-4">
          <div class="card-body">
            <div class="card-title mt-3">
              <h1><%= article.title %></h1>
              <p><%= article.createdAt.toLocaleString() %></p>
              <h3><%= article.description %></h3>
              <a href="/articles/<%= article.id %>">See more</a>
            </div>
          </div>
        </div>
        <% }) %>

        <h2><%= context[0].description %></h2>
      </div>
    </div>
  </body>
</html>
